*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #f9fbfd;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1{
    display: flex;
    justify-content:center;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    
}

.btn{
    background-color: rgb(52, 0, 100);
    color: #f9fbfd;
    font-size: x-large;
    border-radius: 6px;
    padding: 20px 40px;
}

.quiz-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}