*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #f9fbfd;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1{
    display: flex;
    justify-content:center;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1000px;
    padding: 10px;
    
}

.button{
    background-color: rgb(52, 0, 100);
    color: #f9fbfd;
    font-size: x-large;
    border-radius: 6px;
    padding: 20px 40px;
}
.button-grid{
display: grid;
justify-content: flex-start;
align-items: flex-start;

}
.button:hover {
    background-color: rgb(203, 97, 230);
    color: black;
}

.quiz-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.questions {
    display: flex;
    justify-content: center;
    align-items: center;
}